<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppVolumeHotkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <AppVolumeHotkeys.Properties.Settings>
            <setting name="VolUpHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="VolDownHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="VolUpModifier" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="VolDownModifier" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="MuteHotkey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="MuteModifier" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastVolStep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastEndpointName" serializeAs="String">
                <value />
            </setting>
            <setting name="SoftMuteLevel" serializeAs="String">
                <value>15</value>
            </setting>
        </AppVolumeHotkeys.Properties.Settings>
    </userSettings>
</configuration>
