<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CsWin32" version="0.3.106" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Windows.SDK.Win32Docs" version="0.1.42-alpha" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Win32Metadata" version="61.0.15-preview" targetFramework="net48" />
  <package id="Microsoft.Windows.WDK.Win32Metadata" version="0.12.8-experimental" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>